@{
    ViewData["Title"] = "Página principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Esta es la pagina principal del Restaurante en Hawai.</p>
    <p>Puede ir a la sección de
        <a class="nav-link text-dark" asp-area="" asp-controller="Plato" asp-action="Index">Platos</a> 
        para gestionar los platos del resturante.</p>
    <p>También puede ir a gestionar las <a class="nav-link text-dark" asp-area="" asp-controller="Venta" asp-action="Index">Ventas</a>.</p>
    <p>También puede ir a gestionar las <a class="nav-link text-dark" asp-area="" asp-controller="Reserva" asp-action="Index">Reservas</a></p>
</div>
